<div class="main">
    <div>
        <span>
            I agree that i have read and accept collectively's privacy policy , and expressly consent to the useof my information for making purposes and the transfer of my information as described thereid*.
        </span>
    </div>
    <div>
        <span>
            <section>
                <mat-checkbox [(ngModel)]="checked">Accept</mat-checkbox>
            </section>
        </span>
    </div>
    <div class="text-center">
        <button class="btn-primary" (click)="submit()">Submit</button>
    </div>
</div>